/* Global styles */
:root {
  --main-beige: #f7f1e1;
  --main-dark: #051011;
}
body {
  box-sizing: border-box;
  background-color: #051011;
  color: #f7f1e1;
}

body::after {
  content: "";
  background: url("../../img/dsa_world.png");
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* Login page styles */
.login-container {
  text-align: center;
  padding: 50px;
}

.login-header h1 {
  color: var(--main-beige);
  font-size: 2em;
}

.login-header p {
  color: var(--main-beige);
  font-size: 1em;
}

.login-button {
  background-color: var(--main-dark); /* Google blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  color: var(--main-beige);
  background-color: var(--main-dark); /* Darker shade on hover */
  transition: background-color 0.3s;
}

/* Container styles */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Styles for the character select container */
.character-select-container {
  text-align: center; /* Center the select menu */
  margin: 20px 0; /* Spacing above and below the select menu */
  position: sticky;
  top: 10px; /* Adjust this value for desired distance from the top */
  z-index: 1000; /* Ensures the select stays above other content */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: For rounded corners */
  margin-bottom: 20px; /* Space below the sticky element */
}

.character-select-container select {
  color: #f7f1e1; /* Beige font color */
  background-color: #051011; /* Dark background */
  border: 1px solid #f7f1e1; /* Beige border */
  padding: 10px; /* Padding for the select box */
  border-radius: 5px; /* Rounded corners */
  font-size: 28px;
  font-weight: bold;
}

/* Style for the select options */
.character-select-container option {
  background-color: #07262c; /* Darker shade for options */
  color: #f7f1e1; /* Beige text color */
}

/* Buttom styles */
.button {
  cursor: pointer;
  color: #f7f1e1; /* Beige font color */
  background-color: #051011; /* Dark background */
  border: 1px solid #f7f1e1; /* Beige border */
  padding: 10px; /* Padding for the select box */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px;
}

.home-button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  background-color: #f7f1e1;
  color: #051011;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.home-button:hover {
  background-color: #4bc0c0;
}

.login-button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  background-color: #f7f1e1;
  color: #051011;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.home-button:hover {
  background-color: #4bc0c0;
}

/* Input styles */
.custom-input {
  color: #f7f1e1; /* Beige font color */
  background-color: transparent; /* Light grey background */
  border: none; /* Light grey border */
  padding: 0px; /* Padding inside the input */
  margin: auto;
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.custom-input:hover {
  color: #051011; /* Darker font color on hover/focus */
  border-color: #a0a0a0; /* Darker border on hover/focus */
  outline: none; /* Remove default focus outline */
  /* Additional hover and focus styles */
}

.custom-input:focus {
  color: #f7f1e1; /* Beige font color */
  border-color: #a0a0a0; /* Darker border on hover/focus */
  outline: none; /* Remove default focus outline */
  /* Additional hover and focus styles */
}

.custom-input:hover:focus {
  color: #051011; /* Darker font color on hover/focus */
  border-color: #a0a0a0; /* Darker border on hover/focus */
  outline: none; /* Remove default focus outline */
  /* Additional hover and focus styles */
}

/* Section styles */
.welcome-section,
.purpose-section,
.background-section,
.character-highlights,
.cta-section {
  /* Shared styles for each section */
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.character-cards-container {
  /* Styling for character cards container */
  display: flex;
  justify-content: space-around;
}

/* Additional responsive design and aesthetic improvements */
/* Global Box Sizing */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-align: center; /* Centers all headings */
}

/* Content container styling for layout */
.content-container {
  display: flex;
  justify-content: space-around; /* Space between child elements */
  align-items: flex-start; /* Align items at the start vertically */
  width: 100%; /* Full width of its parent container */
}

/* Styles for chart and table containers */
.chart-container,
.table-container,
.line-chart-container,
.talent-statistics-container {
  flex: 1; /* Each container takes equal width */
  width: 100%; /* Full width of their parent container */
  /*max-height: 500px; /*Maximum height */
}

.table-container {
  padding: 30px;
}

/* Specific styles for the chart container */
.chart-container canvas {
  max-width: 100%; /* Full width but respects parent's max-width */
  max-height: 400px; /* Maximum height of the canvas */
}

/* Table styles */
.table-container table {
  width: 100%; /* Full width of its container */
  table-layout: auto; /* Allows automatic column width */
  border-collapse: collapse; /* Collapses borders for a cleaner look */
}

/* Table header styles */
.table-container thead {
  display: table; /* Makes thead behave like a table for layout */
  width: 100%; /* Full width of its container */
  table-layout: fixed; /* Fixed layout for consistent column widths */
}

.table-container thead th {
  color: #f7f1e1; /* Text color for table headers */
  margin: auto; /* Centered margin */
  padding: 10px 5px; /* Padding within the header cells */
  border-bottom: 2px solid #f7f1e1; /* Bottom border for header */
  text-align: left; /* Aligns header text to the left */
  padding-bottom: 15px; /* Padding below the header text */
}

/* Table body styles */
.table-container tbody {
  display: block; /* Block display for scrolling */
  /*height: 300px; /* Fixed height for scrolling */
  overflow-y: auto; /* Enables vertical scrolling */
  width: 100%; /* Full width of its container */
}

/* Row styles within the table body */
.table-container tbody tr {
  display: table; /* Makes each row behave like a table for layout */
  width: 100%; /* Full width of its container */
  table-layout: fixed; /* Fixed layout for consistent column widths */
}

/* Highlight selected row */
.table-container tbody tr:hover,
.table-container th:hover {
  background-color: #f7f1e1;
  color: #051011;
  cursor: pointer;
}

/* Cell styles for both header and body */
.table-container th,
.table-container td {
  width: calc(50% - 0.5px); /* Adjust width for borders */
}

.table-container td {
  height: 25px;
  border-right: 1px solid #f7f1e1; /* Right border for separation */
  padding-left: 5px;
}

/* Remove right border for the last column */
.table-container th:last-child,
.table-container td:last-child {
  border-right: none;
}

/* Alternating row background colors for readability */
.table-container tr:nth-child(even) {
  background-color: #07262c; /* Darker shade for even rows */
}

.table-container tr:nth-child(odd) {
  background-color: #051011; /* Original dark background for odd rows */
}

/* Styles for headings */
h2 {
  padding: 10px; /* Padding around text */
  margin: auto; /* Centered margin */
  border-bottom: 2px solid #f7f1e1; /* Right border for separation */
}

/* Styles for the trait values table */
.trait-values-container {
  width: 100%; /* Full width of its container */
  margin-bottom: 20px; /* Space below the trait table */
  background-color: #0e2a30; /* Slightly different background */
  border: 1px solid #f7f1e1;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}

.trait-values-container h2 {
  margin-bottom: 10px;
}

.trait-values-container table {
  width: 100%; /* Full width of its container */
  table-layout: fixed; /* Fixed layout for even distribution */
  border-collapse: separate;
  border-spacing: 0 10px;
}

.trait-values-container th,
.trait-values-container td {
  text-align: center; /* Center align the text in cells */
  padding: 8px 16px; /* Padding inside cells */
  color: #f7f1e1; /* Text color for trait names and values */
}

/* Adjustments to existing table styles for full-width distribution */
.table-container table {
  width: 100%; /* Ensures table takes full width */
  table-layout: fixed; /* Fixed layout for consistent column widths */
}

.table-container th,
.table-container td {
  width: auto; /* Allows automatic width adjustment */
  text-align: left; /* Align text to the left */
}

.table-container th:first-child,
.table-container td:first-child {
  width: 40%; /* Adjusts width for the first column */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Reduced padding */
  }

  .chart-container,
  .table-container {
    padding: 20px;
    max-height: unset;
  }

  .chart-container canvas,
  .line-chart-container {
    max-width: 100%;
    max-height: 300px;
  }

  .table-container tbody {
    height: auto;
  }

  /* Adjusting table column widths */
  .table-container th,
  .table-container td {
    width: auto;
  }
}

/* Selected Table cells */
.table-container tbody tr.selected,
.table-container tbody tr:hover {
  background-color: #f7f1e1;
  color: #051011;
  cursor: pointer;
}

/* Main container and overall layout */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-beige);
  padding: 20px;
}

/* Character select container */
.character-select-container {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.character-select-container select {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-beige);
  background-color: var(--main-dark);
  color: var(--main-beige);
}

/* Character details container */
.character-details-container {
  width: 100%;
  max-width: 800px;
  background-color: #0e2a30;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--main-beige);
  margin-top: 20px;
}

/* Table styles */
.character-attributes,
.character-attributes-edit {
  width: 100%;
  margin-bottom: 20px;
}

.character-attributes table,
.character-attributes-edit table {
  width: 100%;
  table-layout: fixed; /* Ensure consistent column widths */
  border-collapse: collapse;
}

.character-attributes th,
.character-attributes td,
.character-attributes-edit th,
.character-attributes-edit td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--main-beige);
  height: 36px; /* Set a fixed height */
  vertical-align: middle; /* Ensure content is vertically centered */
  box-sizing: border-box; /* Ensure padding and borders are included in the width and height calculations */
}

.character-attributes-edit input {
  width: 100%; /* Ensure input fields take up the full width of the cell */
  box-sizing: border-box; /* Include padding and borders in width calculations */
  height: 100%; /* Ensure the input field height matches the table cell height */
  padding: 0px; /* Reduce padding to prevent height changes */
  border-radius: 4px;
  border: 1px solid var(--main-beige);
  background-color: #051011;
  color: var(--main-beige);
}

.character-attributes td {
  color: var(--main-beige);
}

/* Additional table consistency */
.character-attributes-edit td {
  color: var(--main-beige);
}

/* Ensure alias input fields don't cause row height change */
.alias-input input {
  flex: 1;
  background-color: #051011;
  color: var(--main-beige);
  border: 1px solid var(--main-beige);
  padding: 5px;
  border-radius: 4px;
  height: 36px; /* Match the fixed row height */
}

/* Additional adjustments to maintain table layout integrity */
.character-attributes th {
  width: 40%; /* Set a consistent width for the first column */
}

.character-attributes td,
.character-attributes-edit td {
  width: 60%; /* Set a consistent width for the second column */
}

/* Input field styles */
.character-attributes-edit input {
  background-color: #051011;
  color: var(--main-beige);
  border: 1px solid var(--main-beige);
  padding: 5px;
  border-radius: 4px;
}

/* Alias and edit action styles */
.character-aliases,
.character-aliases-edit {
  margin-bottom: 20px;
}

.alias-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.alias-input input {
  flex: 1;
  background-color: #051011;
  color: var(--main-beige);
  border: 1px solid var(--main-beige);
  padding: 5px;
  border-radius: 4px;
}

.alias-input button {
  margin-left: 10px;
  background-color: #d9534f;
  color: var(--main-beige);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.alias-input button:hover {
  background-color: #c9302c;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
}

/* Button styles */
.button {
  background-color: var(--main-dark);
  color: var(--main-beige);
  border: 1px solid var(--main-beige);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #4bc0c0;
}
