:root {
  --main-dark: #000;
  --main-bright: #f7f1e1;
  --border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  background: var(--main-dark) !important;
}

/* TODO: Apply these variables to override Material‑UI theme or custom classes */
